$bar-color: #b8c2cc !default;
$bar-stroke: #8D99A6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #ffffff !default;
$light-border-color: #ebeff2 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$blue: #a3a3ff !default;
$handle-color: #ddd !default;
$black-color: #000000 !default;
$today-color: #fbaf1c !default;
$overdue-color: #F06C6C !default;
$stroke-line-color: #a8a8a8 !default;

:root {
  --bar-level-zero-color: #D7E2FF;
  --progress-bar-level-zero-color: #648DFF;

  --bar-level-one-color: #C5E09F;
  --progress-bar-level-one-color: #97C94E;

  --bar-level-two-color: #FAF4D1;
  --progress-bar-level-two-color: #F0DC6F;

  --bar-level-three-color: #F9E7DA;
  --progress-bar-level-three-color: #F0C09D;
}

.gantt {
  .grid-background {
    fill: none;
  }

  .grid-header {
    fill: #D8D8D8;
    stroke: $border-color;
    stroke-width: 1.4;
  }

  .task-header {
    fill: #ffffff;
    stroke: $stroke-line-color;
    stroke-width: 1;
  }

  .overdue-label {
    stroke-width: 1;
    stroke: $overdue-color;
    dominant-baseline: central;
    text-anchor: middle;
  }

  .task-name {
    stroke-width: 1;
    stroke: $black-color;
    dominant-baseline: central;
    text-anchor: middle;
  }

  .grid-row {
    fill: #ffffff;
  }

  .grid-row:nth-child(even) {
    fill: $light-bg;
  }

  .row-line {
    stroke: $light-border-color;
  }

  .last-row-line {
    stroke: $stroke-line-color;
  }

  .tick {
    stroke: $border-color;
    stroke-width: 0.2;

    &.thick {
      stroke-width: 0;
    }
  }

  .today-highlight {
    fill: $today-color;
    opacity: 0.5;
  }

  .month-divisor {
    fill: none;
    stroke: $text-muted;
    stroke-linecap: butt;
    stroke-dasharray: 10, 8;
    opacity: 0.5;
  }

  .today-divisor {
    fill: none;
    stroke: $today-color;
    stroke-linecap: butt;
  }

  .arrow {
    fill: none;
    stroke: $text-muted;
    stroke-width: 1.4;
  }

  .bar {
    stroke: $bar-stroke;
    stroke-width: 0;
    transition: stroke-width .3s ease;
    user-select: none;
  }

  .bar-level-zero {
    fill: var(--bar-level-zero-color);
  }

  .bar-level-one {
    fill: var(--bar-level-one-color);
  }

  .bar-level-two {
    fill: var(--bar-level-two-color);
  }

  .bar-level-three {
    fill: var(--bar-level-three-color);
  }

  .bar-overdue {
    stroke-width: 2;
    stroke: $overdue-color;
    stroke-opacity: 1;
  }

  .bar-progress-overdue {
  }

  .bar-progress-zero {
    fill: var(--progress-bar-level-zero-color);
  }

  .bar-progress-one {
    fill: var(--progress-bar-level-one-color);
  }

  .bar-progress-two {
    fill: var(--progress-bar-level-two-color);
  }

  .bar-progress-three {
    fill: var(--progress-bar-level-three-color);
  }

  .bar-invalid {
    fill: transparent;
    stroke: $bar-stroke;
    stroke-width: 1;
    stroke-dasharray: 5;

    & ~ .bar-label {
      fill: $text-light;
    }
  }

  .bar-label {
    fill: $black-color;
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 12px;
    font-weight: lighter;

    &.big {
      fill: $text-light;
      text-anchor: start;
    }
  }

  .bar-label-progress {
    font-weight: 800;
    font-size: 12px;
  }

  .year-context {
    stroke-width: 0.7;
    fill: none;
    stroke: $black-color;
    stroke-dasharray: 10, 9;
  }

  .handle {
    fill: $handle-color;
    cursor: ew-resize;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
  }

  .filter {
    fill: #ffffff;
  }

  .bar-wrapper {
    cursor: pointer;
    outline: none;

    /*&:hover {
      .bar {
        //fill: darken(var(--bar-progress-color-light), 5);
        fill: var(--bar-progress-color-light);
      }

      .bar-progress {
        //fill: darken(var(--bar-progress-color), 5);
        fill: var(--bar-progress-color);
      }

      .handle {
        visibility: visible;
        opacity: 1;
      }
    }

    &.active {
      .bar {
        //fill: darken(var(--bar-progress-color-light), 5);
        fill: var(--bar-progress-color-light);
      }

      .bar-progress {
        //fill: darken(var(--bar-progress-color), 5);
        fill: var(--bar-progress-color);
      }
    }
     */
  }

  .lower-text, .upper-text {
    font-size: 12px;
    text-anchor: middle;
  }

  .upper-text {
    fill: $text-light;
  }

  .lower-text {
    fill: $text-color;
  }

  .hide {
    display: none;
  }
}

.gantt-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 12px;
  height: 500px;

  .popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #F06C6C;
    padding: 0;
    color: white;
    font-style: oblique;
    border-radius: 3px;

    .title {
      padding: 10px;
    }

    .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: #F06C6C;
    }
  }

  .popup-wrapper-color {
    position: absolute;
    top: 0;
    left: 0;
    background: #4a76f0;
    padding: 0;
    color: white;
    border-radius: 3px;
    width: max-content;

    .title {
      padding: 10px;
      color: $black-color;
      font-weight: lighter;

    }

    .pointer {
      position: absolute;
      height: 5px;
      margin: 0 0 0 -5px;
      border: 5px solid transparent;
      border-top-color: #4a76f0;
    }
  }

  .task-level-zero {
    background: var(--progress-bar-level-zero-color);

    .pointer {
      border-top-color: var(--progress-bar-level-zero-color);
    }
  }

  .task-level-one {
    background: var(--progress-bar-level-one-color);

    .pointer {
      border-top-color: var(--progress-bar-level-one-color);
    }
  }

  .task-level-two {
    background: var(--progress-bar-level-two-color);

    .pointer {
      border-top-color: var(--progress-bar-level-two-color);
    }
  }

  .task-level-three {
    background: var(--progress-bar-level-three-color);

    .pointer {
      border-top-color: var(--progress-bar-level-three-color);
    }
  }
}
